#loading,
#results {
    display: none;
}

#loan-form .input-group-text {
    min-width: 40px;
    text-align: left;
}

#results input.disabled {
    background-color: #f9f9f9;
}

#results .input-group-text {
    min-width: 160px;
    text-align: left;
}